/* Product.css */
.product-list {
  max-width: 90%;
  margin-left: 20px;
}

.products-heading {
  font-size: 1.5rem;
  margin-right: 80%;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-height: 400px;
  overflow-y: auto;
  margin-left: 20px;
  background-color: #ecf0f1; /* Light Gray */
  max-height: 400px;
  overflow-y: auto;
  padding: 20px;
  width: 100%;
}