/* src/ShopDescription.css */
.shop-description {
  background-color: #f9f9f9;
  padding: 2rem;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 800px; /* Adjust the maximum width as needed to match .product-list */
}

.shop-description-content {
  padding: 1rem;
}

.shop-description h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.shop-description p {
  font-size: 1.2rem;
  color: #333;
}
  